In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_excel("C:/Users/Computer/Downloads/Data_Analyst_Task/test_task.xlsx")

In [4]:
data.shape

(6448, 3)

In [5]:
data.head(10)

                                              Review       date     Location
0  I was very impressed with the resort.\nGreat s... 2019-08-20    Sebastian
1  The rooms were nice the outside needs work als... 2019-08-20  Los Angeles
2  Great location! I have stayed at this hotel on... 2019-08-20      Georgia
3  The hotel was adequate for my stay. The strips... 2019-08-20          NaN
4  Great location, room was large and spacious. P... 2019-08-19  Palm Harbor
5  All the options for fun were great! Do wish th... 2019-08-19          NaN
6  Old. Musty. Motel. \nBath need an update asap\... 2019-08-19          NaN
7  Loved the layout of the hotel and the relaxing... 2019-08-19          NaN
8  My wife and I loved everything about it. It’s ... 2019-08-19          NaN
9  rooms were very small, was told i had a compli... 2019-08-19          NaN

In [6]:
pd.isnull(data).sum()

Review        55
date           0
Location    4737
dtype: int64

In [10]:
# as we can see there are 4737 null values in location coulmn but we are note dropping that because it a huge no.

In [29]:
data.describe()

                                date
count                           6448
mean   2019-02-06 15:55:09.677419264
min              2018-08-01 00:00:00
25%              2018-11-10 00:00:00
50%              2019-02-04 00:00:00
75%              2019-05-01 00:00:00
max              2019-08-20 00:00:00

In [20]:
# Clean the 'Review' column
data['Review'] = data['Review'].str.strip()

In [21]:
#extract insights

In [22]:
#Insight 1
positive_reviews = data[data['Review'].str.contains('great staff|friendly staff|great location', case=False, na=False)]
insight_1 = f"Number of positive reviews about staff and location: {len(positive_reviews)}"

In [23]:
#Insight 2
maintenance_issues = data[data['Review'].str.contains('needs work|maintenance|unresponsive|update', case=False, na=False)]
insight_2 = f"Number of complaints about maintenance issues: {len(maintenance_issues)}"

In [24]:
#Insight 3
breakfast_comments = data[data['Review'].str.contains('breakfast', case=False, na=False)]
insight_3 = f"Number of comments about breakfast (positive or negative): {len(breakfast_comments)}"

In [25]:
#Insight 4
noise_issues = data[data['Review'].str.contains('noise|disturbance|loud', case=False, na=False)]
insight_4 = f"Number of reviews mentioning noise and disturbance issues: {len(noise_issues)}"

In [26]:
#Insight 5
positive_sentiments = data[data['Review'].str.contains('impressed|nice|great|good|loved|fun', case=False, na=False)]
negative_sentiments = data[data['Review'].str.contains('work|no|poor|old|musty|bad', case=False, na=False)]
insight_5 = f"Number of overall positive reviews: {len(positive_sentiments)}, Number of overall negative reviews: {len(negative_sentiments)}"

In [27]:
# Now print all the Insights

In [28]:
insights = [insight_1, insight_2, insight_3, insight_4, insight_5]
for insight in insights:
    print(insight)

Number of positive reviews about staff and location: 520
Number of complaints about maintenance issues: 173
Number of comments about breakfast (positive or negative): 365
Number of reviews mentioning noise and disturbance issues: 222
Number of overall positive reviews: 3018, Number of overall negative reviews: 2911